.searchDialog {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;

	/* padding: .7rem 2rem 0 2rem; */
	padding: 0.7rem clamp(0.7rem, 5% - 3rem, 3rem);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;

	color: var(--very-light-gray);
	background-color: var(--dark-blue-gray);
}

@media (min-width: 600px) {
	.searchDialog {
		width: max(320px, 25%);
	}
}

.searchDialog__closeButton {
	align-self: flex-end;
	width: 1.5rem;
	aspect-ratio: 1 / 1;

	color: inherit;
	background-color: transparent;
	border: 1px solid var(--very-light-gray);
}
