.highLightArticle {
	padding: 2rem;
}

@media (min-width: 1200px) {
	.highLightArticle {
		padding: 2rem 14vw;
	}
}

.highLightContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media (min-width: 800px) {
	.highLightContainer {
		grid-template-columns: repeat(2, minmax(280px, 1fr));
	}
}
